.imagen {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.hero_container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 50px;
    align-items: center;
}

.hero_info {
     max-width: 600px;

    p {
        line-height: 1.6;
        margin-bottom: 10px;
    }
}

.nombre{
    font-size: 40px;
    font-weight: bold;
}

@media (max-width: 768px) {
  .hero_container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .imagen {
    width: 150px;
    height: 150px;
  }

  .hero_info {
    width: 100%;
  }
}
