

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.modal p {
  color: black;
}

.dark .modal p {
  color: white;
}

.dark .modal {
  background-color: #1f1f2e;
  color: white;
  border: 1px solid rgb(255,255,255, 0.4);
}

.modal_boton {
  padding: 10px 20px;
  background: rgb(37, 37, 199);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modal_boton:hover{
  background-color: rgb(15, 15, 115);
}

.btn_github {
  padding: 10px 20px;
  background: rgb(17, 182, 28); 
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn_github:hover{
  background: rgb(14, 111, 21);
}

.modal_img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin: 15px 0;
}

.tec_img {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}